*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(2, 65, 113);
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: #043c97;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 350px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('i6.jpg') no-repeat center center/cover;
    height: 460px;;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

#home h1{
    color:black;
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 55px;
    padding: 10px;
}
#home h3{
    color: black;
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    padding:14px;
}
#epidemic p{
    color:palevioletred;
    text-align: center;
    font-size: 1.25rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-weight: bold; */
}
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}

#whatis,#epidemic, #riskfactors,#prevention, #Goal {
    padding: 20px;
    background-color: #fff; /* White background for sections */
    margin: 20px;
    border-radius: 8px; /* Rounded corners for sections */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

 h2{
    color:rgb(15, 3, 5);
    font-size: 30px;
    text-align: center;
}
 p{
    font-size: 1.25rem;
    color:mediumvioletred;
    text-align: center;

}


   
    
.center{
    text-align: center;
}
ol.tuti{
    font-family: 'Bree Serif', serif;
    font-size: 1.0rem; 
}
ol.cutie{
    font-family: 'Bree Serif', serif;
    font-size: 1.0rem; 
}
/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('download5.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
